%html
  %head
    %title Queen Anne Weather Cam - Live from Seattle, WA
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="description" content="Seattle Weather Cam perched on the top of Queen Anne.")
    %meta(name="keywords" content="Queen Anne Weather, Seattle Weather, Queen Anne Weather Cam, Seattle Weather Cam, Queen Anne, Queen Anne Seattle, Washington Weather Cam")
    %link(rel="stylesheet" href="#{stylesheet_path 'app'}")
    %script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    %script(src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js")
    %script(src="#{javascript_path 'app'}")
 
  %body(onload="setCam();")
    %div(class="text")
      %h1
        Seattle Weather Cam - 
        %a{:href => 'http://wunderground.com/personal-weather-station/dashboard?ID=KWASEATT457'}Live Weather Station
      %h3
        Powered by 
        %a{:href => 'http://bluemix.net'}IBM Bluemix,
        %a{:href => 'http://wunderground.com/personal-weather-station/dashboard?ID=KWASEATT457'}Weather Underground
        and
        %a{:href => 'http://twitter.com/jesseproudman'}@jesseproudman        
      %h3
        %a{:href => 'https://www.youtube.com/playlist?list=PLr4_vl1czq4tm9syl_pK5VmQfsiMtZr_0'}Historical Time-lapse
      %div(class="solar")
    %div(class="weather")
    %img(class="cam-pre-loader")
      
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71578627-1', 'auto');
      ga('send', 'pageview');
