{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "Proudman Experimental",
      "Space": "Proudman Experimental"
    },
    "Name": "weather-cam-staging",
    "Instrumentation": {
      "host": "weather-cam-staging",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}